@font-face {
    font-family: 'calistoga';
    src: url('https://fonts.gstatic.com/s/calistoga/v1/6NUU8F2OJg6MeR7l4e0fs8wB.woff2')
}

body {
    background-color: white;
    font-family: calistoga
}

.info {
    font-weight: bold;
}

#reviews {
    color: aqua;
}

nav li {
    color: black;
    display: inline-block;
    padding: 10px;
}

nav li:hover {
    text-decoration: underline;
}

header nav ul {
    padding: 0px;
}

header a {
    text-decoration: none;
}

.active {
    background-color: #000;
}

nav li.active a {
    color: #fff;
}