body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    font-weight: bold;
}

#reviews {
    color: aqua;
}

a:hover {
    color: blue;
}

nav li {
    display: inline-block;
}

header nav ul {
    padding: 0px;
}

header a {
    text-decoration: none;
}

combine selectors

 - Instead of repeating same styles, use comma when selecting. (example: h1,h2)
 - To select elements in a specific parent element use space. (example: header a)
 - 
